.footer-container {
  position: fixed;
  display: flex;
  bottom: 0px;
  width: 100%;
  background-color: #212124;
  justify-content: center;
}
.icon-container {
  display: flex;
  justify-content: space-around;
}
.footer-elements {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}
h5 {
  color: white;
}
.icon {
  font-size: 30px;
  color: white;
}
