.uploadImgContainer {
  display: flex;
  padding: 2rem;
  flex-direction: column;
  width: 15rem;
  border: none;
}

.uploadImageForm {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.uploadButton {
  cursor: pointer;
}
