.description-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30rem;
  background-color: aquamarine;
}
.description {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  width: 30rem;
  background-color: white;
}

.description > h1 {
  font-size: 3.5rem;
}
.description > p {
  font-size: 1.2rem;
}
