.new-albumBtn {
  border: none;
  background-color: white;
}

.createAlbumModal {
  display: flex;
  padding: 2rem;
  flex-direction: column;
  width: 15rem;
  border: none;
}

.createAlbumForm {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.submit {
  align-self: center;
}
