.navbar {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  background: #212124;
  width: 100vw;
}

a {
  text-decoration: none;
  color: white;
  padding: 1em;
}

li {
  color: white;
}

.logoutBtn {
  margin: 0.5rem;
  cursor: pointer;
}
